	/*----------home----------*/
	body{ margin:0; padding:0;position:relative; background-color:rgba(141, 187, 209, 0.418);width: fit-content;}
	 
	.bg-image{background:url("C:/Users/Pedro/git/personal/MyCloset/WebContent/image/sfondo12.jpg"); background-position:center; background-repeat:no-repeat; background-size:cover;width:auto; height:80vh;}
	
	.header{position: relative; width:100%; top:0px;}
	.sub-header{position:relative; width:1000px; height:100px; margin:0 auto;left:-2%;}
	.sub-header .left-menu{float:left;position:left; margin-left:0px;}
	.sub-header .center-menu{float:none; position:absolute; left:50%; transform:translatex(-50%)translateY(-50%); text-decoration:none;top:50%;}
	.sub-header .right-menu{float: right;position:right; margin-right:0px;}
	.sub-header ul li{list-style:none; min-width:100px; line-height:100px;text-align:center;}
	.sub-header ul li a{font-family:"Roboto Condensed", sans-serif; letter-spacing:2px; text-decoration:none;color:#fff; font-size:22px;}
	.lista__menu{display: inline-block;}
/*Sandwich*/
	.header__icon-bar {display:block; float:right; padding:20px; display:none;}
	.header__icon-bar span{display:block; height:3px; width:30px; background:#fff; margin-bottom:5px;}
/**/
	.search-box{position: absolute;top: 15%; left:5%;background:#2f3640; border-radius:40px; padding:2px;}
	.search-box:hover > .search-txt{width:200px; padding:0 6px;}
	.search-box:hover > .search-btn{background:white;}
	.search-btn{color:#e84118; float:right; width:40px; height:40px; border-radius:50%; background:#2f3640; display:flex; justify-content:center; align-items:center; transition:0.4s;}
	.search-txt{border:none; background:none; outline:none; float:right; padding:0; color: white; font-size:16px; transition:0.4s; line-height:40px; width:0px;}

	.secondo-nav{width:100%; height: 65px;position:relative; background: #4e809c; box-shadow: 0px 2px 8px 0px #333;}
	.nav-container{width:1000px;margin:0 auto;position:relative;background:#4e809c}
	.nav-container>.logo{width: 200px; height:65px; float:left;}
	.menu{width: 100%; height: 65px; background:#4e809c;}
	.menu>.menu-content{width: 200px; height: 65px; float:right;font-family: sans-serif,Arial; font-size: 16px;font-weight: bold;letter-spacing: -0.05em; position:relative;color:white;line-height:65px;}
	.menu>.menu-content>a{color:white;text-decoration:none;}
	.arrow-up{width:0;height: 0;position: absolute;border-left: 20px solid transparent; border-right: 20px solid transparent;border-bottom: 20px solid #fff; right: 151px; top: 50px; display: none;}
	.login-form{position: absolute;width:300px; height:auto;background: white; right: 58px;top:60px;border-radius: 3px; border-bottom: 5px solid gray;display:none;}
	.login-form>form{width:250px;margin:25px/*auto*/;font-size: 20px;font-family: sans-serif,Arial; color: gray;letter-spacing: -0.05em;}
	input[type="text"], input[type="password"]{
		width: 240px; height: 30px;border:0px;outline: none;box-shadow: inset 0 0 10px #eee;border-radius: 5px;margin-bottom: 10px;margin-top: 5px;font-family: sans-serif,Arial;font-size: 16px;
	}
	input[type="submit"]{
		width: 95%;height:35px;background:#0b8256; font-size: 20px; font-weight: bold;font-family: sans-serif,Arial;color:white;outline:none;border:0px;border-radius: 3px;
		letter-spacing: -0.05em;cursor: pointer;
	}
	input[type="submit"]:hover{
		background:#0a4b33;
	}
	.fa{margin-right: 5px;}

	.row{position: relative; width: 70%; top: 30px; left: 15%;  text-align: justify; letter-spacing: 3px; z-index: -1;}

	.nav{background-color: darkslategray; height:200px; width: 100%; position: relative;}
	.nav ul{list-style: none;  padding: 16px; width: 100%;}
	.nav ul li{position: relative; float: left; width: 33.3%; text-align: center; padding-bottom: 15px; padding-top: 3px;}
	.nav ul li li{position: relative; float:none; width: 100%; border: none;}
	.nav ul ul a{text-decoration: none; color: white; padding: 15px 25px;}

	.copyright{padding:30px;position: relative;left: 0;bottom: 0;width: 100%;background-color: slategray;color: white;text-align: center;}

	
	/*----------------------
	Tablet
	------------------------*/
	@media (max-width: 998px){

	}

	/*----------------------
	Smartphone
	------------------------*/
	@media (max-width: 767px){
		.header__icon-bar{display:block;}
		
		.lista__menu{display:block;}
		.header{width:100%; height:0px; overflow: hidden;}
		.is-open{height: 300px; overflow: auto;}

	}