body{ margin:0; padding:0;position:relative;background: rgb(228, 226, 226);}

/*---------terzo nav------*/
	
	.nav{background: rgb(49, 43, 43); height:200px; width: 100%; position: relative;border-top: 1px solid #333;}
	.nav ul{list-style: none;  padding: 16px; width: 100%;}
	.nav ul li{position: relative; float: left; width: 33.3%; text-align: center; padding-bottom: 15px; padding-top: 3px;}
	.nav ul li li{position: relative; float:none; width: 100%; border: none;}
	.nav ul ul a{ color: white; padding: 15px 25px;}
	
	/*---------copyright------*/

	.copyright{padding:30px;position: relative;left: 0;bottom: 0;width: 100%;background: rgb(49, 43, 43);color: white;text-align: center;border-top: 1px solid #333;}