body {background-image: url("../imagenes/fancycrave-174012-unsplash.jpg");background-repeat: no-repeat;
    background-size: cover;}

/*-------------login registrazione-------------*/

.login-page{width: 360px;padding: 5% 0 0;margin: auto;}
.form{position: relative;z-index: 1;background: rgba(0,0,0,0.6);max-width: 360px;margin: 0 auto 100px;padding: 45px;text-align:center;}
.form input{font-family:"Roboto", sans-serif;outline: 1;background: #f2f2f2;width:100%;border:0;margin:0 0 15px;padding:15px;box-sizing: border-box;font-size:14px;}
.form button{font-family: "Roboto", sans-serif;text-transform:uppercase;background: #4CAF50;width:100%;border:0;padding: 15px;color:#FFFFFF;font-size: 14px;cursor:pointer;}
.form p{margin-top: 14px;}
.form p a{color:white; text-transform: uppercase; text-align: center; font-size: 80%;}

/*-------------navbar footer-------------*/

.nav{background: rgb(49, 43, 43); height:200px; width: 100%; position: relative;border-top: 1px solid #333;}
.nav ul{list-style: none;  padding: 16px; width: 100%;}
.nav ul li{position: relative; float: left; width: 33.3%; text-align: center; padding-bottom: 15px; padding-top: 3px;}
.nav ul li li{position: relative; float:none; width: 100%; border: none;}
.nav ul ul a{ color: white; padding: 15px 25px;}

/*-------------copyright-------------*/

.copyright{padding:30px;position: relative;left: 0;bottom: 0;width: 100%;background: rgb(49, 43, 43);color: white;text-align: center;border-top: 1px solid #333;}

